/**
 * (C) Copyright 2017 Falk Boudewijn Schimweg - All rights reserved.
 * You may not distribute, change or reuse any parts of this code.
 */
* {
	padding:0;
	margin:0;
}
@font-face { 
	font-family: "Consola";
	src: url("fonts/consola.ttf");
}
#curr-line>* {
	vertical-align: text-bottom;
}
#path {
	display: inline-block;
	text-align: left;
	max-width: 50%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	direction: rtl;
}
#path:after {
    content: "\200E‎";
}
#console {
	width: 98%;
	min-height: 100vh;
	background-color: #000;
	font-family: "Consola";
	color: #fff;
	padding: 0 1vw 0 1vw;
	word-break: break-all;
}
.blackout {
	color: #000;
}